/* Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* :root - Global CSS Variables */
:root {
    --primary-color: #007bff; /* Primary color (blue) */
    --secondary-color: #343a40; /* Secondary color (dark grey) */
    --background-color: #F5F9F9; /* Background color for the app */
    --text-color: #333; /* Default text color */
    --container-max-width: 1400px; /* Content max-width */
    --header-height: 110px; /* Header height */
    --footer-height: 110px; /* Footer height */
    --sidebar-width: 390px; /* Sidebar width */
    --menu-item-hover-color: #0056b3; /* Hover color for menu items */
    /* Site Colors */
    --color-white: #ffffff;
    --color-0: #023247;
    --color-1: #1E6671;
    --color-2: #2A8E9E;
    --color-3: #718BAE;
    --color-4: #D4E8EC;
    --color-5: #F0F7FA;
    --color-6: #F4F5F8;
    --color-7: #E1E5EA;
    --color-8: #F6FAFB;
    --color-9: #F5F9F9;
    --color-10: #ABB4C0;
    --color-11: #A0A1A2;
    --color-12: #3E98B5;
    --color-alert-text: #D50000;
    --color-alert-background: #FEEFEF;
    --color-success-text: #27AE60;
    --color-success-background: #DBF2E7;
    --color-warning-text: #E9751C;
    --color-warning-background: #FEF1EC;
    --color-text-inactive: #BFBFBF;
    --background-cancel: #CFCFCF;
    --background-inactive: #E5E5E5;
    /* Site Borders */
    --border-radius: 15px;
    --border-radius-inner: 8px;
}

/* Global styles for html and body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    font-family: 'Roboto', Arial, sans-serif; /* Apply the global font family */
    background-color: var(--background-color); /* Apply the global background color */
    color: var(--color-0); /* Default text color */
    font-size: 14px;
    line-height: 20px;
}


/* Main container holding header, content, and footer */
.app-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack header, content, and footer vertically */
    min-height: 100vh; /* Ensure the container always takes at least the full viewport height */
}


/* Header */
.header {
    background: linear-gradient(180deg, #FEFEFF 0%, #F9F9FA 100%);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: var(--header-height); /* Use the global header height */
    border: 0;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 #E2E4E5;
    margin-bottom: 1px;
}

/* Footer */
.footer {
    background: linear-gradient(0deg, #FEFEFF 0%, #F9F9FA 100%);
    padding: 10px;
    text-align: center;
    width: 100%;
    height: var(--footer-height); /* Use the global footer height */
    flex-shrink: 0; /* Prevent footer from shrinking */
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 -1px 0 #E2E4E5;
    margin-top: 1px;
}

/* Main content area */
.main-container {
    position: relative;
    display: flex; /* Use flexbox to arrange content and sidebar side by side */
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    margin: 0 auto;
    flex-grow: 1; /* Take up the remaining space between header and footer */
    padding: 20px;
    overflow-y: auto; /* Allow scrolling if content exceeds available height */
    background-color: var(--background-color); /* Background color */
}

.main-container.main-container-full {
    max-width: 100%;
}

.site-loader {
    position: absolute;
    top: calc(var(--header-height) / 2); /* Maintain top offset */
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;
    background: var(--background-color);
    opacity: 0.6;
}

.site-loader div {
    background: var(--color-2);
}


.content {
    padding: 20px;
    flex-grow: 1;
    background: var(--color-white);
    border: 1px solid var(--color-7);
    box-shadow: 0 10px 50px rgba(68, 68, 68, 0.02);
    border-radius: var(--border-radius);
}

/* Sidebar */
.sidebar {
    width: var(--sidebar-width); /* Sidebar width defined by global variable */
    background: var(--color-white);
    border: 1px solid var(--color-7);
    box-shadow: 0 10px 50px rgba(68, 68, 68, 0.02);
    border-radius: var(--border-radius);
    padding: 20px;
}

.sidebar:empty {
    display: none; /* Hide if has no children */
}

/* Sidebar header */
.sidebar .sidebar-header {

}

.sidebar .sidebar-header .title {
    font-weight: bold;
}

.sidebar .sidebar-header .description {
    font-weight: bold;
}

/* Sidebar Menu Items */
.sidebar .sidebar-body .sidebar-item .sidebar-item-title {
    font-weight: bold;
}

.sidebar .sidebar-body .sidebar-item ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

.sidebar .sidebar-body .sidebar-item ul li {
    padding: 10px 0 0 0;
    text-transform: capitalize;
}

.sidebar .sidebar-body .sidebar-item ul li .sub-item {
    color: var(--color-2);
    background: var(--color-5);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: var(--border-radius-inner);
    cursor: pointer;
}

.sidebar .sidebar-body .sidebar-item ul li .sub-item:hover {
    color: var(--color-white);
    background: var(--color-12);
}

.sidebar .sidebar-body .sidebar-item ul li .sub-item .svg-wrapper svg {
    width: 38px;
}


/* General Reset for All Elements */
* {
    box-sizing: border-box; /* Ensure padding and borders don't affect element sizes */
}

/* Link Styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem; /* Adjust header font size on smaller screens */
    }

    .footer p {
        font-size: 0.9rem; /* Adjust footer font size on smaller screens */
    }

    .main-container {
        padding: 10px; /* Reduce padding in content area on small screens */
        flex-direction: column; /* Stack content and sidebar vertically on smaller screens */
    }

    .sidebar {
        width: 100%; /* Sidebar should take full width on smaller screens */
        height: auto; /* Allow sidebar to adjust height based on content */
    }

    /** Table Responsive */
    .table-responsive-container .table-responsive {
        width: 100%;
    }

    .table-responsive-container .table-responsive .table thead {
        display: none;
    }

    .table-responsive-container .table-responsive .table tbody tr {
        display: block;
        width: 100%;
        padding: 0;
    }

    .table-responsive-container .table-responsive .table tbody tr + tr {
        position: relative;
        border-top: 1px solid red; /* Border between rows */
        top: -1px; /* Overlap the last td border */
    }

    .table-responsive-container .table-responsive .table tbody tr td {
        display: table-cell;
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    .table-responsive-container .table-responsive .table tbody tr td.text-end {
        text-align: left !important;
    }

    .table-responsive-container .table-responsive .table tbody tr td[data-name] {
        display: inline-block; /* Style for the original <td> */
        padding: 0;
    }

    .table-responsive-container .table-responsive .table tbody tr td[data-name]::before {
        content: attr(data-name) ":";
        display: inline-block;
        font-weight: bold;
        padding: 10px;
    }

    .table-responsive-container .table-responsive .table tbody tr td[data-name] div {
        display: inline-block;
        padding: 0 0 10px 0;
    }

    .table-responsive-container .table-responsive .table tbody tr td[data-name] div:last-child {
        padding-right: 0; /* Remove padding for the last div */
    }
}